$dark: #393939;
$blue  : #6297fa;
$white: #FDFDFF;
$orange: #FB8521;
$lightgray: #f2f2f2;
$darkpurple: #202020;
$beige: #fff9d6;
$text: $white;

$primary-color: $dark;
$accent-color: $orange;
$background-color: $lightgray;
$dark-color: $darkpurple;
$highlight-color: $beige;
$light-text: $text;
