{% extends 'homepage.html' %}

{% block latestreleasedesktop %}
<div class="latestrelease-desktop">
<h5>{{ "Latest Release" |t(locale)}}</h5>
  <div class="col-12 col-sm-12">
    <div class="card {{post.class}}">
      <a href="/{{locale}}/collections/russian-airstrikes/">
	<div class="card-image">
	  <img src="/assets/collections/atarib-airstrike.png" class="img-responsive" />
	</div>
	<div class="card-header">
	  <div class="card-title">
	    <div class="tcontent">
	      {{ "Russian Airstrikes Database" |t(locale)}}
	    </div>
	  </div>
	</div>
      </a>
      <div class="card-body">
	{{ "Documentation of alleged Russian airstrikes targeting civilians and civilian infrastructure" |t(locale)}}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block latestreleasemobile %}
<div class="latestrelease-mobile">
  <h5>{{ "Latest Release" |t(locale)}}</h5>
  <div class="col-12 col-sm-12 ">
    <div class="card {{post.class}}">
      <a href="/{{locale}}/collections/russian-airstrikes/">
	<div class="card-image">
	  <img src="/assets/collections/atarib-airstrike.png" class="img-responsive" />
	</div>
	<div class="card-header">
	  <div class="card-title">
	    <div class="tcontent">
	      {{ "Russian Airstrikes Database" |t(locale)}}
	    </div>
	  </div>
	</div>
      </a>
      <div class="card-body">
	{{ "Documentation of alleged Russian airstrikes targeting civilians and civilian infrastructure" |t(locale)}}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block homepageMap %}
<div class="col-12">
  <iframe id="homepageMap" scrolling="no" height="800px" width="100%" src="../standalone/map/index.html"></iframe>
</div>
{% endblock %}
