{% extends 'homepage.html' %}

{% block latestreleasedesktop %}
<div class="latestrelease-desktop">
<h5>{{ "Latest Release" |t(locale)}}</h5>
  <div class="col-12 col-sm-12">
    <div class="card {{post.class}}">
      <a href="/{{locale}}/investigations/belgium-isopropanol/sentencing.html">
	<div class="card-image">
	  <img src="/assets/investigations/Belgium/image4.jpg" class="img-responsive" />
	</div>
	<div class="card-header">
	  <div class="card-title">
	    <div class="tcontent">
	      {{ "Antwerp court convicts three Flemish firms for shipping 168 tonnes of isopropanol to Syria" |t(locale)}}
	    </div>
	  </div>
	</div>
      </a>
      <div class="card-body">
	{{ "Update on isopropanol export to Syria" |t(locale)}}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block latestreleasemobile %}
<div class="latestrelease-mobile">
  <h5>{{ "Latest Release" |t(locale)}}</h5>
  <div class="col-12 col-sm-12">
    <div class="card {{post.class}}">
      <a href="/{{locale}}/investigations/belgium-isopropanol/sentencing.html">
	<div class="card-image">
	  <img src="/assets/investigations/Belgium/image4.jpg" class="img-responsive" />
	</div>
	<div class="card-header">
	  <div class="card-title">
	    <div class="tcontent">
	      {{ "Antwerp court convicts three Flemish firms for shipping 168 tonnes of isopropanol to Syria" |t(locale)}}
	    </div>
	  </div>
	</div>
      </a>
      <div class="card-body">
	{{ "Update on isopropanol export to Syria" |t(locale)}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
